Architecture: all
Conflicts: proxmox-truenas
Depends: libio-socket-ip-perl, libio-socket-ssl-perl, libjson-rpc-common-perl, liblog-any-perl, libprotocol-websocket-perl
Description: TrueNAS over iSCSI Custom Storage Plugin for Proxmox VE
Homepage: https://github.com/boomshankerx/proxmox-truenas/wiki
Maintainer: TechG Solutions <lorne@techgsolutions.com>
Package: proxmox-truenas-native
Priority: optional
Provides: proxmox-truenas-native
Section: perl
Source: proxmox-truenas
Standards-Version: 4.5.0
Uploaders: Lorne Guse <lorne@techgsolutions.com>
Vcs-Browser: https://github.com/boomshankerx/proxmox-truenas.git
Vcs-Git: https://github.com/boomshankerx/proxmox-truenas.git
Version: 1.0.0
