Source: proxmox-truenas
Section: perl
Priority: optional
Maintainer: TechG Solutions <lorne@techgsolutions.com>
Uploaders: Lorne Guse <lorne@techgsolutions.com>
Depends: git, libio-socket-ip-perl, libio-socket-ssl-perl, libjson-rpc-common-perl, liblog-any-perl, libprotocol-websocket-perl, patch
Standards-Version: 4.5.0
Vcs-Git: https://github.com/boomshankerx/proxmox-truenas.git
Vcs-Browser: https://github.com/boomshankerx/proxmox-truenas.git
Homepage: https://github.com/boomshankerx/proxmox-truenas/wiki
Package: proxmox-truenas
Architecture: all
Version: 1.0.0
Pre-Depends: git, libio-socket-ip-perl, libio-socket-ssl-perl, libjson-rpc-common-perl, liblog-any-perl, libprotocol-websocket-perl, patch
Provides: proxmox-truenas
Description: TrueNAS Plugin for Proxmox VE 8+
 A Proxmox VE storage plugin to interface with TrueNAS APIs.
